SUPERVISOR_SOCKET_PATH=/var/run/supervisor.sock
SUPERVISOR_CONF_DIR=/etc/supervisor/conf.d
# SUPERVISOR_CONF_EXT=ini
SUPERVISOR_USE_SUDO_RM=1
SUPERVISOR_USE_SUDO_WRITE=1
SUPERVISOR_START_CMD=sudo systemctl start supervisord
SUPERVISOR_STOP_CMD=sudo systemctl stop supervisord
SUPERVISOR_RESTART_CMD=sudo systemctl restart supervisord
SUPERVISOR_AUTO_RESTART_ON_FAIL=0

# ADMIN_USER=admin
# ADMIN_PASSWORD=admin123
SECRET_KEY=aB9#kLmN2$pQrS%tUvW&xYz0*1CdE3FgH5@6IjK7!8OpQ9(RsT0)uVwX1+yZa2-bC3dEf4+GhI5jKl6MnOp7QrSt8UvWx9YzA0BcDe1FgHi2JkLm3NoPq4RsTu5VwXy6ZaBc7DeFg8HiJk9LmNo0PqRs1TuVw2XyZa3BcDe4FgHi5JkLm6
